.escher-step {
  visibility: visible;
  background-color: #ddd;
  border: 1px solid #bbb;
  -webkit-animation-name: show-background;
  -webkit-animation-duration: 800ms;
}

.escher-step-view {
	opacity: 1;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3); -moz-box-shadow: 0 0 6px rgba(0,0,0,0.3); box-shadow: 0 0 6px rgba(0,0,0,0.3);
  -webkit-animation-name: toss;
	-webkit-animation-duration: 0.5s;
	-webkit-transform: rotate(0) scale(1) translate(0,0);
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}

.escher-step-view-covered {
  position: relative;
  visibility: hidden;
  -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;
  -webkit-transition-property: visibility;
  -webkit-transition-duration: 300ms;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}

.escher-step-retreat {
  padding: 0.7em;
  opacity: 1;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 1000ms;
  -webkit-transition-delay: 2s;
}

@-webkit-keyframes show-background {
  0% {background-color: rgba(0,0,0,0); -webkit-animate-timing-function: ease-in;}
  100% {background-color: #ddd;}
}

@-webkit-keyframes fade-in {
  0% {opacity: 0; -webkit-animate-timing-function: ease-in;}
  100% {opacity: 1;}
}

@-webkit-keyframes toss {
	0% { -webkit-transform: rotate(-30deg) scale(1.3) translate(-20px,-250px); opacity: 0; -webkit-animation-timing-function: ease-in-out; }
	100% { -webkit-transform: rotate(0deg) scale(1) translate(0,0); opacity: 1; }
}
