.escher-step {
  visibility: visible;
  background-color: #ddd;
  border: 1px solid #bbb;
}

.escher-step-view {
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3); -moz-box-shadow: 0 0 6px rgba(0,0,0,0.3); box-shadow: 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}

.escher-step-view-covered {
  position: relative;
  visibility: hidden;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}

.escher-step-retreat {
  padding: 0.7em;
}
